GraphMenu ACCELERATORS
Begin
	78, 21208, CONTROL, VIRTKEY
	115, 21210, ALT, VIRTKEY
	67, 32000, CONTROL, VIRTKEY
	66, 21213, CONTROL, VIRTKEY
	80, 21214, CONTROL, VIRTKEY
	49, 21216, CONTROL, VIRTKEY
	50, 21217, CONTROL, VIRTKEY
	51, 21218, CONTROL, VIRTKEY
	115, 21220, VIRTKEY
	115, 21221, SHIFT, VIRTKEY
End
 
ShellMenu ACCELERATORS
Begin
	78, 32000, CONTROL, VIRTKEY
	115, 20596, ALT, VIRTKEY
	115, 20598, VIRTKEY
	115, 20599, SHIFT, VIRTKEY
End
 
GraphMenu MENU
Begin
	POPUP "&File"
	BEGIN
		MENUITEM "&New\tCtrl+N", 21208
		MENUITEM SEPARATOR
		MENUITEM "E&xit\tAlt+F4", 21210
	END
	POPUP "&Type"
	BEGIN
		MENUITEM "&Column\tCtrl+C", 32000
		MENUITEM "&Bar\tCtrl+B", 21213
		MENUITEM "&Pie\tCtrl+P", 21214
	END
	POPUP "&Data"
	BEGIN
		MENUITEM "Sample Set &1\tCtrl+1", 21216
		MENUITEM "Sample Set &2\tCtrl+2", 21217
		MENUITEM "Sample Set &3\tCtrl+3", 21218
	END
	POPUP "&Window"
	BEGIN
		MENUITEM "&Cascade\tF4", 21220
		MENUITEM "&Tile\tShift+F4", 21221
		MENUITEM "Close &All", 21222
	END
End
 
ShellMenu MENU
Begin
	POPUP "&File"
	BEGIN
		MENUITEM "&New\tCtrl+N", 32000
		MENUITEM SEPARATOR
		MENUITEM "E&xit\tAlt+F4", 20596
	END
	POPUP "&Window"
	BEGIN
		MENUITEM "&Cascade\tF4", 20598
		MENUITEM "&Tile\tShift+F4", 20599
		MENUITEM "Close &All", 20600
	END
End
 
