GraphMenu ACCELERATORS
Begin
	78, 21208, CONTROL, VIRTKEY
	115, 21210, ALT, VIRTKEY
	67, 32000, CONTROL, VIRTKEY
	66, 21213, CONTROL, VIRTKEY
	80, 21214, CONTROL, VIRTKEY
	49, 21216, CONTROL, VIRTKEY
	50, 21217, CONTROL, VIRTKEY
	51, 21218, CONTROL, VIRTKEY
	115, 21220, VIRTKEY
	115, 21221, SHIFT, VIRTKEY
End
 
