#define VK_F1 0x70
#define VK_ESCAPE 0x1B
#define ID_WCHELPON 0xFFFE
#define ID_WCHELP 0xFFFF
#define ID_WCHELPOFF 0xFFFD
CursorHelp ACCELERATORS
	BEGIN
		VK_F1, ID_WCHELP, VIRTKEY
		VK_ESCAPE, ID_WCHELPOFF, VIRTKEY
	END

