#define TREEWIN_DOTEST 100
#define TREEWIN_TREEVIEW1 101

#define WS_CHILD 0x40000000L
#define WS_TABSTOP 0x00010000L
#define WS_BORDER 0x00800000L
#define TVS_HASBUTTONS 0x0001
#define TVS_HASLINES 0x0002
#define TVS_LINESATROOT 0x0004
#define TVS_EDITLABELS 0x0008

TreeWin DIALOGEX 3, 3, 171, 178
STYLE WS_CHILD
FONT 8, "MS Shell Dlg"
BEGIN
	CONTROL "DoTest", TREEWIN_DOTEST, "BUTTON", WS_CHILD|WS_TABSTOP, 5, 113, 161, 60
	CONTROL "", TREEWIN_TREEVIEW1, "SYSTREEVIEW32", WS_CHILD|WS_BORDER|TVS_HASBUTTONS|TVS_HASLINES|TVS_LINESATROOT|TVS_EDITLABELS, 5, 5, 160, 98
END


#define IDM_Menu1 "Menu1"
#define IDM_Menu1_DoTest_ID 15001
Menu1 MENU
BEGIN
	MENUITEM "DoTest" , IDM_Menu1_DoTest_ID
END
