################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Binaries/Debug
/Binaries/Obj/Debug
/packages
/Samples/.vs/Examples/v14
/VisualStudio/Templates/obj/Debug
/VisualStudio/UnitTests/bin/Debug
/VisualStudio/XSharpCodeDomProvider/obj/Debug
/VisualStudio/XSharpColorizer/bin/Debug
/VisualStudio/XSharpColorizer/obj/Debug
