#include "C:\Program Files (x86)\Vulcan.NET 4.0\\Include\VOWin32APILibrary.vh"
#include "C:\XSharp\DevRt\Runtime\VOSDK\Applications\_TesterMdi\Prg\Standard Menus.prg.rc"
#include "C:\XSharp\DevRt\Runtime\VOSDK\Applications\_TesterMdi\Prg\File1.prg.rc"
#include "C:\XSharp\DevRt\Runtime\VOSDK\Applications\_TesterMdi\Prg\File2.prg.rc"
