#define WS_CHILD 0x40000000L
#define DS_3DLOOK 0x0004L
#define WS_VISIBLE 0x10000000L
IDD_DEFDLG DIALOG DISCARDABLE 0, 0, 1, 1
	STYLE WS_CHILD |DS_3DLOOK | WS_VISIBLE
	FONT 8, "MS Sans Serif"
	BEGIN
	END

