#define WS_CHILD 0x40000000L
#define WS_EX_CLIENTEDGE 0x00000200L

Data_WinresID DIALOGEX 0, 0, 279, 196
STYLE WS_CHILD
FONT 8, "MS Shell Dlg"
BEGIN
	CONTROL "test", 123, "EDIT", WS_CHILD, 43, 30, 150, 50, WS_EX_CLIENTEDGE
END

DataWinresID DIALOGEX 0, 0, 279, 196
STYLE WS_CHILD
FONT 8, "MS Shell Dlg"
BEGIN
	CONTROL "test", 123, "EDIT", WS_CHILD, 43, 30, 150, 50, WS_EX_CLIENTEDGE
END

DataWind1 DIALOGEX 0, 0, 279, 196
STYLE WS_CHILD
FONT 8, "MS Shell Dlg"
BEGIN
	CONTROL "test", 123, "EDIT", WS_CHILD, 43, 30, 150, 50, WS_EX_CLIENTEDGE
END

DataWind2 DIALOGEX 0, 0, 279, 196
STYLE WS_CHILD
FONT 8, "MS Shell Dlg"
BEGIN
END

abcdef DIALOGEX 0, 0, 279, 196
STYLE WS_CHILD
FONT 8, "MS Shell Dlg"
BEGIN
	CONTROL "test", 123, "EDIT", WS_CHILD, 43, 30, 150, 50, WS_EX_CLIENTEDGE
END

abcdefg DIALOGEX 0, 0, 279, 196
STYLE WS_CHILD
FONT 8, "MS Shell Dlg"
BEGIN
	CONTROL "test", 123, "EDIT", WS_CHILD, 43, 30, 150, 50, WS_EX_CLIENTEDGE
END

abcdefgh DIALOGEX 0, 0, 279, 196
STYLE WS_CHILD
FONT 8, "MS Shell Dlg"
BEGIN
	CONTROL "test", 123, "EDIT", WS_CHILD, 43, 30, 150, 50, WS_EX_CLIENTEDGE
END

