#include "C:\Program Files (x86)\Vulcan.NET 4.0\\Include\VOWin32APILibrary.vh"
#include "C:\XSharp\DevRt\Runtime\VOSDK\Source\VOSDK\GUI_Classes_SDK\Resources\CurHand.rc"
#include "C:\XSharp\DevRt\Runtime\VOSDK\Source\VOSDK\GUI_Classes_SDK\Resources\CursorHelp.rc"
#include "C:\XSharp\DevRt\Runtime\VOSDK\Source\VOSDK\GUI_Classes_SDK\Resources\DragMultip.rc"
#include "C:\XSharp\DevRt\Runtime\VOSDK\Source\VOSDK\GUI_Classes_SDK\Resources\DragSingle.rc"
#include "C:\XSharp\DevRt\Runtime\VOSDK\Source\VOSDK\GUI_Classes_SDK\Resources\GeneralHelp.rc"
#include "C:\XSharp\DevRt\Runtime\VOSDK\Source\VOSDK\GUI_Classes_SDK\Resources\HelpCursor.rc"
#include "C:\XSharp\DevRt\Runtime\VOSDK\Source\VOSDK\GUI_Classes_SDK\Resources\IDB_DEFTOOLBAR.rc"
#include "C:\XSharp\DevRt\Runtime\VOSDK\Source\VOSDK\GUI_Classes_SDK\Resources\IDD_DEFDLG.rc"
#include "C:\XSharp\DevRt\Runtime\VOSDK\Source\VOSDK\GUI_Classes_SDK\Resources\IDD_DEFDLG2.rc"
#include "C:\XSharp\DevRt\Runtime\VOSDK\Source\VOSDK\GUI_Classes_SDK\Resources\IDI_DEFICON.rc"
#include "C:\XSharp\DevRt\Runtime\VOSDK\Source\VOSDK\GUI_Classes_SDK\Resources\VersionResource.rc"
