#include "C:\Program Files (x86)\Vulcan.NET 4.0\\Include\VOWin32APILibrary.vh"
101 ICON "C:\\XSharp\\Dev\\XSharp\\src\\VOXPorter\\Source\\VOXPorter\\Resources\\XSharp.ico"
#include "C:\XSharp\Dev\XSharp\src\VOXPorter\Source\VOXPorter\Resources\VersionInfo.rc"
