#include "C:\Program Files (x86)\Vulcan.NET 3.0\\Include\VOWin32APILibrary.vh"
101 ICON "C:\\xSharp\\Dev\\XSharp\\src\\Tools\\VOXPorter\\Source\\VOXPorter\\Resources\\XSharp.ico"
#include "C:\xSharp\Dev\XSharp\src\Tools\VOXPorter\Source\VOXPorter\Resources\VersionInfo.rc"
