<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.VisualStudio.SDK.Analyzers" version="16.3.14" targetFramework="net46" />
  <package id="Microsoft.VisualStudio.Threading.Analyzers" version="16.4.45" targetFramework="net46" />
  <package id="Microsoft.VSSDK.Debugger.VSDConfigTool" version="16.4.1111102" targetFramework="net46" developmentDependency="true" />
  <package id="System.Collections.Immutable" version="1.5.0" targetFramework="net46" />
  <package id="System.Reflection.Metadata" version="1.6.0" targetFramework="net46" />
</packages>