 CustomerExplorerMenu ACCELERATORS
Begin
	79, 26580, CONTROL, VIRTKEY
	115, 26585, ALT, VIRTKEY
	88, 26587, CONTROL, VIRTKEY
	67, 26588, CONTROL, VIRTKEY
	86, 26589, CONTROL, VIRTKEY
	113, 26591, SHIFT, VIRTKEY
	113, 26592, VIRTKEY
	112, 26600, VIRTKEY
	112, 26601, CONTROL, VIRTKEY
End
 
 EMPTYSHELLMENU ACCELERATORS
Begin
	79, 21650, CONTROL, VIRTKEY
	115, 21654, ALT, VIRTKEY
	112, 21656, VIRTKEY
End
 
 CustomerExplorerMenu MENU
Begin
	POPUP "&File"
	BEGIN
		MENUITEM "&Open...\tCTRL+O", 26580
		MENUITEM "&Close", 26581
		MENUITEM SEPARATOR
		MENUITEM "P&rint Setup...", 26583
		MENUITEM SEPARATOR
		MENUITEM "E&xit\tALT+F4", 26585
	END
	POPUP "&Edit"
	BEGIN
		MENUITEM "Cu&t\tCTRL+X", 26587
		MENUITEM "&Copy\tCTRL+C", 26588
		MENUITEM "&Paste\tCTRL+V", 26589
	END
	POPUP "&View"
	BEGIN
		MENUITEM "&Icon View\tSHIFT+F2", 26591
		MENUITEM "&Small Icon View\tF2", 26592
		MENUITEM "&List View", 26593
		MENUITEM "&Report View", 26594
	END
	POPUP "&Window"
	BEGIN
		MENUITEM "&Cascade", 26596
		MENUITEM "&Tile", 26597
		MENUITEM "Close A&ll", 26598
	END
	POPUP "&Help"
	BEGIN
		MENUITEM "&Index\tF1", 26600
		MENUITEM "&Context Help\tCTRL+F1", 26601
		MENUITEM "&Using Help", 26602
		MENUITEM SEPARATOR
		MENUITEM "&About...", 26604
	END
End
 
 EMPTYSHELLMENU MENU
Begin
	POPUP "&File"
	BEGIN
		MENUITEM "&Open...\tCTRL+O", 21650
		MENUITEM SEPARATOR
		MENUITEM "P&rint Setup...", 21652
		MENUITEM SEPARATOR
		MENUITEM "E&xit\tALT+F4", 21654
	END
	POPUP "&Help"
	BEGIN
		MENUITEM "&Index\tF1", 21656
		MENUITEM "&Using help", 21657
		MENUITEM SEPARATOR
		MENUITEM "&About...", 21659
	END
End
 
 OrdersListViewMenu MENU
Begin
	POPUP "X"
	BEGIN
		MENUITEM "&Edit Order", 26128
		MENUITEM SEPARATOR
		MENUITEM "&Refresh", 26130
	END
End
 
