<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.VisualStudio.CoreUtility" version="14.1.24720" targetFramework="net46" />
  <package id="Microsoft.VisualStudio.ProjectSystem.Analyzers" version="14.0.50729-pre" targetFramework="net46" developmentDependency="true" />
  <package id="Microsoft.VSSDK.BuildTools" version="14.1.24720" targetFramework="net46" developmentDependency="true" />
</packages>