<?xml version="1.0" encoding="utf-8" ?>
<!-- Copyright (c)  Microsoft.  All Rights Reserved.  Licensed under the Apache License, Version 2.0.  See License.txt in the project root for license information. -->

<configuration>
  <runtime>
    <gcServer enabled="true" />
    <gcConcurrent enabled="false"/>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
        <dependentAssembly>
            <assemblyIdentity name="XSharp.CodeAnalysis" publicKeyToken="ed555a0467764586" culture="neutral" />
            <bindingRedirect oldVersion="0.0.0.0-0.0.65535.65535" newVersion="0.1.0.0" />
        </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
