#include "C:\Program Files (x86)\Vulcan.NET 4.0\\Include\VOWin32APILibrary.vh"
101 ICON "C:\\XSharp\\DevPublic\\VisualStudio\\VOXporter\\Source\\VOXPorter\\Resources\\XSharp.ico"
#include "C:\XSharp\DevPublic\VisualStudio\VOXporter\Source\VOXPorter\Resources\VersionInfo.rc"
