<?xml version="1.0" encoding="Windows-1252"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Product Id="6fe30b47-2577-43ad-9095-1861ba45889b" Name="XSharp" Language="1033" Codepage="Windows-1252" Version="0.1" UpgradeCode="6fe30b47-2577-43ad-9095-1861ba25889b" Manufacturer="XSharp BV">
    <Package InstallerVersion="200" Compressed="yes" SummaryCodepage="Windows-1252" Languages="1033" />
    <Media Id="1" Cabinet="XSharp.cab" EmbedCab="yes" />

    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="ProgramFilesFolder" Name="ProgramFilesFolder">
        <Directory Id="ProgramFilesFolder.XSharp" Name="XSharp">
          <Directory Id="INSTALLDIR" Name="0.1">

            <Component Id="Component.xsc.exe" Guid="6fe30b47-2577-43ad-9095-1861d65d89ed">
              <File Id="xsc.exe" Source="Binaries\Debug\xsc.exe" />
            </Component>

            <Component Id="Component.XSCompiler.exe" Guid="6fe30b47-2577-43ad-9095-1861d8d1fcd8">
              <File Id="XSCompiler.exe" Source="Binaries\Debug\XSCompiler.exe" />
            </Component>

            <Component Id="Component.XSharp.CodeAnalysis.dll" Guid="6fe30b47-2577-43ad-9095-1861737a1854">
              <File Id="XSharp.CodeAnalysis.dll" Source="Binaries\Debug\XSharp.CodeAnalysis.dll" />
            </Component>

            <Component Id="Component.System.Collections.Immutable.Dll" Guid="6fe30b47-2577-43ad-9095-18617542c55c">
              <File Id="System.Collections.Immutable.Dll" Source="Binaries\Debug\System.Collections.Immutable.Dll" />
            </Component>

            <Component Id="Component.System.Reflection.Metadata.Dll" Guid="6fe30b47-2577-43ad-9095-18613e0f0738">
              <File Id="System.Reflection.Metadata.Dll" Source="Binaries\Debug\System.Reflection.Metadata.Dll" />
            </Component>

            <Component Id="Component.XSharp.Build.Dll" Guid="6fe30b47-2577-43ad-9095-186170331489">
              <File Id="XSharp.Build.Dll" Source="Binaries\Debug\XSharp.Build.Dll" />
            </Component>

            <Component Id="Component.XSharpLanguage.vsix" Guid="6fe30b47-2577-43ad-9095-1861d27887f6">
              <File Id="XSharpLanguage.vsix" Source="Binaries\Debug\XSharpLanguage.vsix" />
            </Component>

            <Directory Id="INSTALLDIR.ProjectSystem" Name="ProjectSystem">

              <Component Id="Component.XSharpProject.Default.props" Guid="6fe30b47-2577-43ad-9095-1861ff279c77">
                <File Id="XSharpProject.Default.props" Source="src\VisualStudio\XSharp.ProjectType\BuildSystem\DeployedBuildSystem\XSharpProject.Default.props" />
              </Component>

              <Component Id="Component.XSharpProject.Default.targets" Guid="6fe30b47-2577-43ad-9095-1861f9548f9f">
                <File Id="XSharpProject.Default.targets" Source="src\VisualStudio\XSharp.ProjectType\BuildSystem\DeployedBuildSystem\XSharpProject.Default.targets" />
              </Component>

              <Component Id="Component.XSharpProject.props" Guid="6fe30b47-2577-43ad-9095-1861bceb288c">
                <File Id="XSharpProject.props" Source="src\VisualStudio\XSharp.ProjectType\BuildSystem\DeployedBuildSystem\XSharpProject.props" />
              </Component>

              <Component Id="Component.XSharpProject.targets" Guid="6fe30b47-2577-43ad-9095-18614bab02c3">
                <File Id="XSharpProject.targets" Source="src\VisualStudio\XSharp.ProjectType\BuildSystem\DeployedBuildSystem\XSharpProject.targets" />
              </Component>

              <Directory Id="INSTALLDIR.ProjectSystem.Rules" Name="Rules">

                <Component Id="Component.AdditionalCompilerSettings.xaml" Guid="6fe30b47-2577-43ad-9095-1861387ff5ff">
                  <File Id="AdditionalCompilerSettings.xaml" Source="src\VisualStudio\XSharp.ProjectType\BuildSystem\Rules\AdditionalCompilerSettings.xaml" />
                </Component>

                <Component Id="Component.assemblyreference.xaml" Guid="6fe30b47-2577-43ad-9095-186121e28caf">
                  <File Id="assemblyreference.xaml" Source="src\VisualStudio\XSharp.ProjectType\BuildSystem\Rules\assemblyreference.xaml" />
                </Component>

                <Component Id="Component.comreference.xaml" Guid="6fe30b47-2577-43ad-9095-18610e15d497">
                  <File Id="comreference.xaml" Source="src\VisualStudio\XSharp.ProjectType\BuildSystem\Rules\comreference.xaml" />
                </Component>

                <Component Id="Component.CustomPropertyPage.xaml" Guid="6fe30b47-2577-43ad-9095-18615c2d373d">
                  <File Id="CustomPropertyPage.xaml" Source="src\VisualStudio\XSharp.ProjectType\BuildSystem\Rules\CustomPropertyPage.xaml" />
                </Component>

                <Component Id="Component.debugger_general.xaml" Guid="6fe30b47-2577-43ad-9095-1861bc713e14">
                  <File Id="debugger_general.xaml" Source="src\VisualStudio\XSharp.ProjectType\BuildSystem\Rules\debugger_general.xaml" />
                </Component>

                <Component Id="Component.EmbeddedResource.xaml" Guid="6fe30b47-2577-43ad-9095-1861c14936b0">
                  <File Id="EmbeddedResource.xaml" Source="src\VisualStudio\XSharp.ProjectType\BuildSystem\Rules\EmbeddedResource.xaml" />
                </Component>

                <Component Id="Component.folder.xaml" Guid="6fe30b47-2577-43ad-9095-18611e4e4a8a">
                  <File Id="folder.xaml" Source="src\VisualStudio\XSharp.ProjectType\BuildSystem\Rules\folder.xaml" />
                </Component>

                <Component Id="Component.general.browseobject.xaml" Guid="6fe30b47-2577-43ad-9095-18615773181c">
                  <File Id="general.browseobject.xaml" Source="src\VisualStudio\XSharp.ProjectType\BuildSystem\Rules\general.browseobject.xaml" />
                </Component>

                <Component Id="Component.general.xaml" Guid="6fe30b47-2577-43ad-9095-18610b6deac4">
                  <File Id="general.xaml" Source="src\VisualStudio\XSharp.ProjectType\BuildSystem\Rules\general.xaml" />
                </Component>

                <Component Id="Component.general_file.xaml" Guid="6fe30b47-2577-43ad-9095-1861d305eeb8">
                  <File Id="general_file.xaml" Source="src\VisualStudio\XSharp.ProjectType\BuildSystem\Rules\general_file.xaml" />
                </Component>

                <Component Id="Component.none.xaml" Guid="6fe30b47-2577-43ad-9095-18615c34533a">
                  <File Id="none.xaml" Source="src\VisualStudio\XSharp.ProjectType\BuildSystem\Rules\none.xaml" />
                </Component>

                <Component Id="Component.ProjectItemsSchema.xaml" Guid="6fe30b47-2577-43ad-9095-18617a054f1e">
                  <File Id="ProjectItemsSchema.xaml" Source="src\VisualStudio\XSharp.ProjectType\BuildSystem\Rules\ProjectItemsSchema.xaml" />
                </Component>

                <Component Id="Component.projectreference.xaml" Guid="6fe30b47-2577-43ad-9095-18611a37a607">
                  <File Id="projectreference.xaml" Source="src\VisualStudio\XSharp.ProjectType\BuildSystem\Rules\projectreference.xaml" />
                </Component>

                <Component Id="Component.ResolvedAssemblyReference.xaml" Guid="6fe30b47-2577-43ad-9095-18612278811f">
                  <File Id="ResolvedAssemblyReference.xaml" Source="src\VisualStudio\XSharp.ProjectType\BuildSystem\Rules\ResolvedAssemblyReference.xaml" />
                </Component>

                <Component Id="Component.ResolvedCOMReference.xaml" Guid="6fe30b47-2577-43ad-9095-1861147da060">
                  <File Id="ResolvedCOMReference.xaml" Source="src\VisualStudio\XSharp.ProjectType\BuildSystem\Rules\ResolvedCOMReference.xaml" />
                </Component>

                <Component Id="Component.ResolvedProjectReference.xaml" Guid="6fe30b47-2577-43ad-9095-1861f2d35676">
                  <File Id="ResolvedProjectReference.xaml" Source="src\VisualStudio\XSharp.ProjectType\BuildSystem\Rules\ResolvedProjectReference.xaml" />
                </Component>

                <Component Id="Component.resolvedsdkreference.xaml" Guid="6fe30b47-2577-43ad-9095-186174d482c7">
                  <File Id="resolvedsdkreference.xaml" Source="src\VisualStudio\XSharp.ProjectType\BuildSystem\Rules\resolvedsdkreference.xaml" />
                </Component>

                <Component Id="Component.scc.xaml" Guid="6fe30b47-2577-43ad-9095-186144b70a17">
                  <File Id="scc.xaml" Source="src\VisualStudio\XSharp.ProjectType\BuildSystem\Rules\scc.xaml" />
                </Component>

                <Component Id="Component.sdkreference.xaml" Guid="6fe30b47-2577-43ad-9095-1861a4316d86">
                  <File Id="sdkreference.xaml" Source="src\VisualStudio\XSharp.ProjectType\BuildSystem\Rules\sdkreference.xaml" />
                </Component>

                <Component Id="Component.xsharp.browseobject.xaml" Guid="6fe30b47-2577-43ad-9095-18618ebe13ab">
                  <File Id="xsharp.browseobject.xaml" Source="src\VisualStudio\XSharp.ProjectType\BuildSystem\Rules\xsharp.browseobject.xaml" />
                </Component>

                <Component Id="Component.xsharp.xaml" Guid="6fe30b47-2577-43ad-9095-1861aefd9ae0">
                  <File Id="xsharp.xaml" Source="src\VisualStudio\XSharp.ProjectType\BuildSystem\Rules\xsharp.xaml" />
                </Component>

                <Component Id="Component.XSharpDebugger.xaml" Guid="6fe30b47-2577-43ad-9095-1861e0a8e06b">
                  <File Id="XSharpDebugger.xaml" Source="src\VisualStudio\XSharp.ProjectType\BuildSystem\Rules\XSharpDebugger.xaml" />
                </Component>

              </Directory>
            </Directory>

            <Component Id="Registry1" Guid="6fe30b47-2577-43ad-9095-1861b7315623" KeyPath="yes">
              <RegistryKey Root="HKLM" Key="Software\XSharpBV\XSharp">
                <RegistryValue Type="string" KeyPath="no" Value="[INSTALLDIR]" Name="XSharpPath" />
              </RegistryKey>
            </Component>

          </Directory>
        </Directory>
      </Directory>

      <Directory Id="VS2015DEVIDE" Name="VS2015DEVIDE">

        <Component Id="Component.XSharp.CodeAnalysis.dll.1" Guid="6fe30b47-2577-43ad-9095-1861837b7aa1">
          <File Id="XSharp.CodeAnalysis.dll.1" Source="Binaries\Debug\XSharp.CodeAnalysis.dll" />
        </Component>

      </Directory>
    </Directory>

    <UI>
      <EmbeddedUI Id="WixSharp.UI.dll" SourceFile="WixSharp.UI.CA.dll" />
    </UI>

    <WixVariable Id="WixUILicenseRtf" Value="d:\Xsharp\Dev\Roslyn\License.txt" />

    <Icon Id="app_icon.ico" SourceFile="src\VisualStudio\XSharp.ProjectType\Images\XSharp.ico" />

    <CustomAction Id="Action1_SearchMSDevIDE" BinaryKey="Action1_SearchMSDevIDE_File" DllEntry="SearchMSDevIDE" Return="ignore" Execute="immediate" />
    <CustomAction Id="WixSharp_InitRuntime_Action" BinaryKey="Action2_WixSharp_InitRuntime_Action_File" DllEntry="WixSharp_InitRuntime_Action" Return="check" Execute="immediate" />

    <Binary Id="Action1_SearchMSDevIDE_File" SourceFile="%this%.CA.dll" />
    <Binary Id="Action2_WixSharp_InitRuntime_Action_File" SourceFile="WixSharp.CA.dll" />
    <Binary Id="WixSharp_UIText" SourceFile="XSharp.wxl" />
    <Binary Id="WixSharp_LicenceFile" SourceFile="..\Roslyn\License.txt" />
    <Binary Id="WixUI_Bmp_Dialog" SourceFile="XSharp.dialog_bmp.png" />
    <Binary Id="WixUI_Bmp_Banner" SourceFile="XSharp.dialog_banner.png" />

    <Property Id="WixSharp_UI_INSTALLDIR" Value="INSTALLDIR" />
    <Property Id="WixSharp_InstallDialogs" Value="WixSharpSetup, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null|WixSharpSetup.Dialogs.WelcomeDialog&#xA;WixSharpSetup, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null|WixSharpSetup.Dialogs.LicenceDialog&#xA;WixSharpSetup, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null|WixSharpSetup.Dialogs.SetupTypeDialog&#xA;WixSharpSetup, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null|WixSharpSetup.Dialogs.FeaturesDialog&#xA;WixSharpSetup, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null|WixSharpSetup.Dialogs.InstallDirDialog&#xA;WixSharpSetup, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null|WixSharpSetup.Dialogs.ProgressDialog&#xA;WixSharpSetup, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null|WixSharpSetup.Dialogs.ExitDialog" />
    <Property Id="WixSharp_ModifyDialogs" Value="WixSharpSetup, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null|WixSharpSetup.Dialogs.MaintenanceTypeDialog&#xA;WixSharpSetup, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null|WixSharpSetup.Dialogs.FeaturesDialog&#xA;WixSharpSetup, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null|WixSharpSetup.Dialogs.ProgressDialog&#xA;WixSharpSetup, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null|WixSharpSetup.Dialogs.ExitDialog" />
    <Property Id="ARPPRODUCTICON" Value="app_icon.ico" />

    <Feature Id="XSharp_Compiler" Title="XSharp Compiler" Absent="disallow" Level="1" Description="Install all XSharp compiler elements.">
      <ComponentRef Id="Component.xsc.exe" />
      <ComponentRef Id="Component.XSCompiler.exe" />
      <ComponentRef Id="Component.XSharp.CodeAnalysis.dll" />
      <ComponentRef Id="Component.System.Collections.Immutable.Dll" />
      <ComponentRef Id="Component.System.Reflection.Metadata.Dll" />
      <ComponentRef Id="Component.XSharpProject.Default.props" />
      <ComponentRef Id="Component.XSharpProject.Default.targets" />
      <ComponentRef Id="Component.XSharpProject.props" />
      <ComponentRef Id="Component.XSharpProject.targets" />
      <ComponentRef Id="Component.AdditionalCompilerSettings.xaml" />
      <ComponentRef Id="Component.assemblyreference.xaml" />
      <ComponentRef Id="Component.comreference.xaml" />
      <ComponentRef Id="Component.CustomPropertyPage.xaml" />
      <ComponentRef Id="Component.debugger_general.xaml" />
      <ComponentRef Id="Component.EmbeddedResource.xaml" />
      <ComponentRef Id="Component.folder.xaml" />
      <ComponentRef Id="Component.general.browseobject.xaml" />
      <ComponentRef Id="Component.general.xaml" />
      <ComponentRef Id="Component.general_file.xaml" />
      <ComponentRef Id="Component.none.xaml" />
      <ComponentRef Id="Component.ProjectItemsSchema.xaml" />
      <ComponentRef Id="Component.projectreference.xaml" />
      <ComponentRef Id="Component.ResolvedAssemblyReference.xaml" />
      <ComponentRef Id="Component.ResolvedCOMReference.xaml" />
      <ComponentRef Id="Component.ResolvedProjectReference.xaml" />
      <ComponentRef Id="Component.resolvedsdkreference.xaml" />
      <ComponentRef Id="Component.scc.xaml" />
      <ComponentRef Id="Component.sdkreference.xaml" />
      <ComponentRef Id="Component.xsharp.browseobject.xaml" />
      <ComponentRef Id="Component.xsharp.xaml" />
      <ComponentRef Id="Component.XSharpDebugger.xaml" />
    </Feature>

    <Feature Id="Visual_Studio_Integration" Title="Visual Studio Integration" Absent="allow" Level="1" Description="Install the needed component in order to integrate XSharp with Visual Studio.">
      <ComponentRef Id="Component.XSharp.Build.Dll" />
      <ComponentRef Id="Component.XSharpLanguage.vsix" />
      <ComponentRef Id="Component.XSharp.CodeAnalysis.dll.1" />
      <ComponentRef Id="Registry1" />
    </Feature>

    <InstallExecuteSequence>
      <Custom Action="Action1_SearchMSDevIDE" Before="AppSearch"> (NOT Installed) </Custom>
      <Custom Action="WixSharp_InitRuntime_Action" Before="AppSearch"> (1) </Custom>
    </InstallExecuteSequence>

  </Product>
</Wix>

