ICONDB Icon "Resources\\CARDS.ICO"
ICONDBSELECT Icon "Resources\\CARDSSELECT.ICO"

ICONRECORD Icon "Resources\\RECORD01.ICO"

ICONRECORDSELECT Icon "Resources\\RECORD02.ICO"

RBNTOOLBAR Bitmap "Resources\\DATAEXPL.BMP"

