#See https://docs.github.com/en/actions/configuring-and-managing-workflows/configuring-a-workflow for help 
name: ContinuousBuild
#Set when this build is activated. This can be once x time period, or on push/commit of certain branches
on:
  schedule:
     - cron: '0 2 * * *' # every night at 2 am UTC
  pull_request:
      types: [opened, assigned, synchronize, edited]
  workflow_dispatch:
env:
  DOTNET_NOLOGO: true
  DOTNET_CLI_TELEMETRY_OPTOUT: true  

jobs:
  job1:
    name: BuildXSharpCompiler
    runs-on: windows-2022 #Specify the OS to execute on
    
    steps:
      - uses: actions/checkout@v4
        with:
          ref: ${{ github.ref }}
#      - uses: actions/setup-dotnet@v1.7.2
#        with:
#           dotnet-version: '6.0.402' # SDK Version to use; should match version in global.json and build/Targets/Tools.props
      - name: BuildCompiler
        shell: cmd
        run: |
          echo "RoslynDir=./src/Roslyn" >> $GITHUB_ENV
          echo "XSharpDir=./src/Compiler" >> $GITHUB_ENV
          echo "VsVersion=2022" >> $GITHUB_ENV
          echo "VSEDITION=Enterprise" >> $GITHUB_ENV
          call ContinuousIntegrationBuild.cmd
      - name: Upload Results
        uses: actions/upload-artifact@v4
        with:
            name: BuildResults
            path: ./Artifacts/Zips/*.zip
      - name: Upload BuildLogs
        uses: actions/upload-artifact@v4
        with:
            name: BuildLogs
            path: ./src/build*.Log
      - name: RunTests
        shell: cmd
        run: |
          call RunCompilertests.cmd 
      - name: Upload TestLogs
        uses: actions/upload-artifact@v4
        with:
            name: TestLogs
            path: ./Artifacts/Tests/*.Log
      - name: Upload Shared Files
        uses: actions/upload-artifact@v4
        with:
            name: Shared
            path: |
              ./Artifacts/Shared/Release/*.dll
